<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.rybob.oa.flow.mapper.ApplicationMapper">
    <resultMap id="applicationMap" type="cn.rybob.oa.flow.model.Application">
        <result column="id" property="id"/>
        <result column="employee_id" property="employeeId"/>
        <result column="days" property="days"/>
    </resultMap>

    <insert id="create" parameterType="cn.rybob.oa.flow.model.Application"
        useGeneratedKeys="true" keyProperty="id">
        INSERT INTO application (employee_id,days) VALUES(#{employeeId},#{days})
    </insert>

    <select id="findById" parameterType="java.lang.Long" resultMap="applicationMap">
        SELECT * FROM application WHERE id = #{id}
    </select>
    
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM application WHERE id = #{id}
    </delete>
</mapper>
